@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kachain Jantalat<br />
    Email: kachain.jantalat@gmail.com<br />
    Phone:0880630106
</address>

